@font-face
  font-family: 'blockdole'
  font-weight: normal
  font-style: normal
  size-adjust: 92%
  font-display: swap
  src: url(https://cdn.jsdelivr.net/gh/zclab/static/fonts/blockdole.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/zclab/static/fonts/blockdole.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/zclab/static/fonts/blockdole.eot) format("embedded-opentype")

$font-stack: blockdole

html
    font-family: $font-stack

main 
    padding-left: 300px

.container
    width: 94%

a
    &.github,
    &.gitlab
        &::before
            color: var(--color-link)
            font: var(--fa-font-brands)
            margin-right: 0.25rem

    &.github::before
        content: "\f09b"

    &.gitlab::before
        content: "\f296"


b, strong
    font-weight: 900