body
    display: flex
    min-height: 100vh
    flex-direction: column

main 
    display: flex
    flex-grow: 1
    width: 80%

.container
    width: 94%

a
    &.github,
    &.gitlab
        &::before
            color: var(--color-link)
            font: var(--fa-font-brands)
            margin-right: 0.25rem

    &.github::before
        content: "\f09b"

    &.gitlab::before
        content: "\f296"


b, strong
    font-weight: 900