<div class="row">
    <div class="col l4 s12">
        <h5>Help Materialize Grow</h5>
        <p class="grey-text text-darken-2">We hope you have enjoyed using Materialize and if you
            feel like it has helped you out and want to support the team you can help us by opening
            issues or contributing on GitHub.</p>
        <a class='btn waves-effect waves-light' target="_blank"
            href='https://github.com/materializecss/materialize'>Contribute</a>

    </div>
    <div class="col l4 s12">
        <h5>Join the Discussion</h5>
        <p class="grey-text text-darken-2">We have a Gitter chat room set up where you can talk
            directly with us. Come in and discuss new features, future goals, general problems or
            questions, or anything else you can think of.</p>
        <a class='btn waves-effect waves-light' href='https://gitter.im/materializecss/materialize'
            target='_blank'>Chat</a>
    </div>
    <div class="col l4 s12" style="overflow: hidden;">
        <h5>Star us</h5>

    </div>
</div>