.stm-article-bottom-area {
  display: flex;
  padding: 0 5px;
  align-items: center;
}

.stm-article-bottom-right {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.stm-article-bottom-left {
  margin-right: auto;
}

.edit-this-page,
.sourcelink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.last-updated {
  display: flex;
  align-items: center;
  font-style: italic;
  color: var(--font-color-medium);
  gap: 0.25rem;
}
