.stm-brand-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 15px;
  height: $navbar-height;
  width: var(--sidenav-width);

  @media (max-width: $medium-screen-up) {
    height: $navbar-height-mobile;
  }

  img {
    max-width: calc(
      var(--sidenav-width) - var(--header-horizontal-spacing) * 2
    ); // $sidenav-width - 30px;
    max-height: $navbar-height;

    @media (max-width: $medium-screen-up) {
      max-height: $navbar-height-mobile;
    }
  }
}

.stm-brand-logo-text {
  font-size: 32px;
  color: var(--font-color-main);
  font-family: "Fira Sans";
}
