.stm-article-breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    display: contents;
  }
}

.breadcrumb {
  color: var(--primary-color);

  &:last-child {
    color: var(--font-color-main);
  }

  &::before {
    color: var(--primary-color);
  }
}
