.navbar-fixed 
  .nav-wrapper
    .nav-breadcrumbs 
      display: flex
      flex-wrap: wrap

      a.breadcrumb
        display: flex
        align-items: center

        &.breadcrumb-home
          padding: 0 10px

        &:not(.breadcrumb-home)
          padding: 0

        &:before
          margin: 0
