.stm-edit-update-meta {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}

.edit-this-page {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.last-updated {
  display: flex;
  align-items: center;
  font-style: italic;
  color: var(--font-color-medium);
  gap: 0.25rem;
}
