nav 
    background-color: var(--primary-color)
    position: relative

    @media (min-width: $medium-screen-up)
        z-index: 1099

    .nav-wrapper
        padding: 0 15px

        @media (max-width: $medium-screen-up)
            padding-left: 0