.prev-next-area {
  display: flex;
  justify-content: space-between;

  a {
    overflow-x: hidden;
    text-decoration: none;

    p {
      margin: 0;
    }

    &.btn-large {
      height: auto;
      width: 48%;
      line-height: 30px;
      padding: 10px;
      border: 1px solid var(--separator-color);

      &:hover {
        background-color: var(--button-raised-background-hover);
      }

      div.right-next {
        float: right;
        display: flex;
        align-items: center;

        div.prev-next-info {
          text-align: right;
        }
      }

      div.left-prev {
        float: left;
        display: flex;
        align-items: center;

        div.prev-next-info {
          text-align: left;
        }
      }
    }
  }
}