.search-wrapper
  flex-grow: 1
  display: flex
  align-items: center
  position: relative
  color: var(--font-color-medium)

  span.material-icons
    display: flex
    padding-left: 5px
    position: absolute

  .search-button__kbd-shortcut
    display: flex
    position: absolute
    right: 5px


input:not([type]):not(.browser-default)
  border-top: $input-border
  margin: 0.68rem 0
  padding-left: calc(var(--header-horizontal-spacing) + 15px)
  background-color: var(--background-color-sidenav)
  color: var(--font-color-main)

  &:focus:not([readonly])
    border-top: 1px solid var(--input-focus-color)
    border-bottom: 1px solid var(--input-focus-color)
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2)
