.sidenav-toggle {
  color: var(--primary-color);

  &.btn-flat {
    display: contents;
  }

  svg {
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
  }
}

@media (min-width: $medium-screen-up) {
  input#__primary:checked ~ .stm-main aside.stm-sidenav {
    margin-left: calc(var(--sidenav-width) * -1);
    visibility: hidden;
    opacity: 0;
  }

  input#__primary:checked ~ .stm-main .sidenav-toggle svg {
    transform: rotate(180deg);
  }
}
