// This file contains the styles for the contents of the left sidebar, which
// contains the navigation tree, logo, search etc.

////////////////////////////////////////////////////////////////////////////////
// Brand on top of the scrollable tree.
////////////////////////////////////////////////////////////////////////////////


.sidenav

  .sidebar-brand-text
    color: red
    overflow-wrap: break-word
    font-size: 1.5rem
