.stm-sidenav-logo {
    display: flex;

    img {
        max-height: 64px;
        padding-right: 15px;
    }
}

aside.stm-sidenav {
    border-right: 1px solid var(--separator-color);
    clip-path: inset(0);
    display: block;
    background-color: var(--background-color-sidenav);
    margin-top: calc($navbar-height *-1);
    width: $sidenav-width;

    .sidenav-viewport {
        height: 100%;
        max-height: 100vh;
        position: sticky;
        top: 0;

        .sidenav-drawer {
            display: flex;
            flex-direction: column;
            height: 100%;
            // width: $sidenav-width;

            .sidenav-menu {
                flex-grow: 1;
                padding: 0 0 0 var(--header-horizontal-spacing);
                overflow: auto;

                .sidenav-menulist {
                    list-style: none;
                    margin: 0;
                    padding-left: 0;

                    p {
                        padding-left: var(--sidenav-item-horizontal-spacing);
                        font-weight: 900;
                        margin: 10px 0 0 0;
                    }

                    li {
                        line-height: 44px;
                        overflow: hidden;

                        a {
                            font-size: 13px;
                            line-height: 44px;
                            height: 44px;
                            color: var(--font-color-main);
                            display: block;
                            padding-left: var(--sidenav-item-horizontal-spacing);

                            &:hover {
                                background: var(--focus-color);
                            }
                        }

                        &.active {
                            background-color: var(--focus-color);

                            &:not(.has-children) {
                                border-top: 1px solid var(--separator-color);
                                border-bottom: 1px solid var(--separator-color);
                                border-left: .2rem solid var(--primary-color-dark);
                            }
                        }
                    }
                }
            }
        }
    }
}


aside.stm-sidenav {
    label.toctree-toggle {
        position: absolute;
        top: 0;
        margin-top: 4px;
        right: 0;
        height: 30px;
        width: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: end;

        i {
            display: inline-block;
            text-align: center;
        }

        &:hover {
            background: var(--focus-color);
        }
    }

    .label-parts {
        width: 100%;
        height: 100%;

        &:hover {
            background: none;
        }

        i {
            width: 30px;
            position: absolute;
            top: 0.3em;
            right: 0em;
        }
    }

    li {
        position: relative;

        &.has-children {
            >.reference {
                padding-right: 30px;
            }

            >ul {
                background-color: var(--background-color-sidenav);
                padding: 0 0 0 1rem;
            }
        }
    }

    .toctree-checkbox {
        position: absolute;
        display: none;

        ~ul {
            display: none;
        }

        ~label i {
            transform: rotate(0deg);
        }
    }

    .toctree-checkbox:checked {
        ~ul {
            display: block;
        }

        ~label i {
            transform: rotate(180deg);
        }
    }
}