.toc-scroll
    .nav
        display: none

        &.visible
            display: block

        >.active>ul 
            display: block

.toc-sticky
    display: flex
    position: sticky
    top: $navbar-height
    height: min(100%,100vh)
    height: 100vh
    overflow: auto
    margin-top: 2.8rem


ul.table-of-contents
    margin-top: 0
    font-size: 1rem

    li
        width: 100%
        word-wrap: break-word
        border-left: 1px solid var(--separator-color)

        a
            display: inline-block
            font-size: 14px
            font-weight: 400
            color: var(--font-color-medium)
            padding-left: 16px
            height: 2rem
            line-height: 2rem
            width: 100%
            word-wrap: break-word

        ul
            padding: 0 0 0 1rem

        &.scroll-current >.reference
            border-left: 1px solid var(--primary-color-raised-focus-solid)
            color: var(--primary-color-raised-focus-solid)
            font-weight: bold