@media only screen and (min-width : 601px) {

    main>.container,
    body>.page-footer>.container,
    .top-nav>.container,
    #index-banner>.container,
    .github-commit>.container {
        width: 100%
    }
}


.table-of-contents.fixed {
    position: fixed
}


ul.sidenav.sidenav-fixed li.logo:hover,
ul.sidenav.sidenav-fixed li.logo #logo-container:hover {
    background-color: rgba(0, 0, 0, 0)
}


ul.sidenav.sidenav-fixed li a .new.badge {
    margin-top: 11px
}

ul.sidenav.sidenav-fixed ul.collapsible-accordion {
    background-color: var(--surface-color)
}

ul.sidenav.sidenav-fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px
}

ul.sidenav.sidenav-fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px
}

ul.sidenav.sidenav-fixed:hover {
    overflow-y: auto
}


.docs-footer {
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid var(--separator-color);
    color: inherit
}

.docs-footer .footer-copyright,
.docs-footer .footer-copyright a {
    color: var(--font-color-medium);
    background-color: rgba(0, 0, 0, 0)
}


.sidenav li.has-children>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed li.has-children>ul:not(.collapsible)>li.active {
    background-color: var(--primary-color-raised-focus-solid);
}

ul.sidenav.sidenav-fixed li.active {
    background-color: var(--focus-color);
}

.sidenav li.has-children>ul {
    background-color: $sidenav-bg-color;
}


body {
    color: var(--font-color-main);
    line-height: 1.6;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color)
}


/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}