.stm-main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    .main-wrapper {
        display: flex;
        flex: 1 0 auto;

        .stm-doc {
            display: flex;
            width: 100%;
        }
    }
}

.sidenav-logo {
    align-items: center;
    display: flex !important;
    color: inherit !important;
    max-height: $navbar-height;
    min-height: $navbar-height;
    max-width: $sidenav-width - 40px;
    // margin: 0 0 0 30px;
}