.page-footer {
  padding: 10px var(--footer-horizontal-spacing);
}

.docs-footer {
  background-color: var(--background-color);
  border-top: 1px solid var(--separator-color);
  color: inherit;
  position: relative;
  z-index: 1000;

  .footer-copyright,
  .footer-copyright a {
    color: var(--font-color-medium);
    background-color: var(--background-color);
  }
}

.sphinx-version {
  margin-bottom: 0;
  margin-top: 0;
}

.stm-content-footer {
  margin-top: auto;
  padding: 10px var(--footer-horizontal-spacing);
  border-top: 1px solid var(--separator-color);
  background-color: var(--background-color);
  color: var(--font-color-medium);
}
