/*******************************************************************************
* Rules for the UX/UI of sidebar sliding drawers on mobile
* Note that this sheet controls styles across many parts of the theme
* It is aggregated into this one sheet instead of being split across
* components in order to keep it easier to debug in one place.
* It is broken up into major sections below.
*/

/*******************************************************************************
* Buttons and overlays
*/
input.sidebar-toggle {
  display: none;
}

// Background overlays
label.overlay {
  background-color: black;
  opacity: 0.5;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
  z-index: 1299;
}

input {

  // Show the correct overlay when its input is checked
  &#__primary:checked+label.overlay.overlay-primary,
  &#__secondary:checked+label.overlay.overlay-secondary {
    height: 100vh;
    width: 100vw;
  }

  // Primary sidebar slides in from the left
  &#__primary:checked~.stm-main .stm-sidenav {
    visibility: visible;
    margin-left: 0;
  }

}

/*******************************************************************************
* Sidebar drawer behavior
*/

/**
 * Behavior for sliding drawer elements that will be toggled with an input
 *
 * NOTE: We use this mixin to define the toggle behavior on narrow screens,
 * And the wide-screen behavior of the sections is defined in their own section
 * .scss files.
 */
@mixin sliding-drawer($side: "left") {
  position: fixed;
  top: 0;
  z-index: 1299;
  height: 100vh;
  max-height: 100vh;
  width: 75%;
  flex-grow: 0.75;
  max-width: 350px;
  transition: visibility 0.3s ease-out,
    margin 0.3s ease-out;
  visibility: hidden;

  @if $side =="right" {
    margin-right: -75%;
    right: 0;
  }

  @else {
    margin-left: -75%;
    left: 0;
  }
}

// Primary sidebar hides/shows at earlier widths
@media (min-width: $medium-screen-up) {
  label.sidebar-toggle.primary-toggle {
    display: none;
  }

  input#__primary {
    &:checked+label.overlay.overlay-primary {
      height: 0;
      width: 0;
    }
  }

  .stm-sidenav {
    margin-left: 0;
    visibility: visible;
  }
}

.stm-sidenav {
  @media (max-width: $medium-screen-up) {
    @include sliding-drawer("left");
  }
}


nav label.sidebar-toggle {
  align-items: center;
  color: var(--pst-color-muted);
  cursor: pointer;
  display: flex;
  font-size: var(--pst-font-size-icon);
  margin-bottom: 0
}
