.sidenav-logo {
  padding: 0 0 0 var(--header-horizontal-spacing);
}

.stm-sidenav-logo {
  display: flex;
  height: $navbar-height;

  @media (max-width: $medium-screen-up) {
    height: $navbar-height-mobile;
  }

  img {
    max-height: $navbar-height;

    @media (max-width: $medium-screen-up) {
      max-height: $navbar-height-mobile;
    }

    padding-right: 15px;
  }
}

aside.stm-sidenav {
  border-right: 1px solid var(--separator-color);
  clip-path: inset(0);
  display: block;
  background-color: var(--background-color-sidenav);
  width: $sidenav-width;

  @media (min-width: $medium-screen-up) {
    margin-top: calc($navbar-height *-1 - 2px); // 2px because of box shadow is 2px height offset of nav, see z-depth-1
  }

  .sidenav-viewport {
    height: 100%;
    max-height: 100vh;
    position: sticky;
    top: 0;

    .sidenav-drawer {
      display: flex;
      flex-direction: column;
      height: 100%;
      // width: $sidenav-width;

      .sidenav-menu {
        flex-grow: 1;
        padding: 0 0 0 var(--header-horizontal-spacing);
        overflow: auto;

        .sidenav-menulist {
          list-style: none;
          margin: 0;
          padding-left: 0;

          p {
            padding-left: var(--sidenav-item-horizontal-spacing);
            font-weight: 900;
            margin: 10px 0 0 0;
          }

          li {
            line-height: 44px;
            overflow: hidden;

            a {
              font-size: 13px;
              line-height: 44px;
              height: 44px;
              color: var(--font-color-main);
              display: block;
              padding-left: var(--sidenav-item-horizontal-spacing);

              &:hover {
                background: var(--focus-color);
              }
            }

            &.active {
              background-color: var(--focus-color);

              &:not(.has-children) {
                border-top: 1px solid var(--separator-color);
                border-bottom: 1px solid var(--separator-color);
                border-left: .2rem solid var(--primary-color-dark);
              }
            }
          }
        }
      }
    }
  }
}


aside.stm-sidenav {
  label.toctree-toggle {
    position: absolute;
    top: 0;
    margin-top: 4px;
    right: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    i {
      display: inline-block;
      text-align: center;
    }

    &:hover {
      background: var(--focus-color);
    }
  }

  .label-parts {
    width: 100%;
    height: 100%;

    &:hover {
      background: none;
    }

    i {
      width: 30px;
      position: absolute;
      top: 0.3em;
      right: 0em;
    }
  }

  li {
    position: relative;

    &.has-children {
      >.reference {
        padding-right: 30px;
      }

      >ul {
        background-color: var(--background-color-sidenav);
        padding: 0 0 0 1rem;
      }
    }
  }

  .toctree-checkbox {
    position: absolute;
    display: none;

    ~ul {
      display: none;
    }

    ~label i {
      transform: rotate(0deg);
    }
  }

  .toctree-checkbox:checked {
    ~ul {
      display: block;
    }

    ~label i {
      transform: rotate(180deg);
    }
  }
}



.sidenav-header-items {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--header-horizontal-spacing);
}

.sidenav-header-items__center {
  display: flex;
  flex-direction: column;

  .headnav-item {
    display: block;
    line-height: 32px;
  }

  .dropdown-trigger {
    display: flex;
    align-items: center;
  }

  a.nav-external {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.sidenav-header-items__end {
  display: block;

  ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
  }

  img {
    height: 25px;
    background-color: var(--font-color-main);
  }

  a.ext-link {
    display: flex;
  }

  a#theme-switch--mobile {
    display: flex;
  }

  i.fa-brands {
    font-size: 20px;
  }
}
