{#
This is where user-provided CSS variables get converted into actual values.
#}
{% macro declare_css_variables(user_customisations, pygments_theme, fixed_headnav) -%}
--color-code-background: {{ pygments_theme.background }};
--color-code-foreground: {{ pygments_theme.foreground }};
{% if fixed_headnav %}
--article-top-position: inherit;
{% endif %}
{% if user_customisations -%}
{% for name, value in user_customisations.items() -%}
--{{ name }}: {{ value }};
{% endfor %}
{%- endif %}
{%- endmacro %}

<style>
    :root {
        {{ declare_css_variables(theme_css_variables, stmaterial_pygments.light, theme_fix_header_nav) }}
    }
    :root[theme="dark"] {
        {{ declare_css_variables(theme_dark_css_variables, stmaterial_pygments.dark, theme_fix_header_nav) }}
    }
</style>
