.ablog-sidebar-item
  margin-top: var(--sidenav-ablog-space-above)
  margin-bottom: var(--sidenav-ablog-space-below)
  font-size: var(--sidebar-item-font-size)
    
  h2,
  h3
    padding: 0
    font-size: 1.30em
    margin: 0 var(--sidenav-item-horizontal-spacing) calc(var(--sidenav-ablog-space-below) * 0.5) var(--sidenav-item-horizontal-spacing)

    a
      color: var(--font-color-main)
      text-decoration: none

    i
      color: var(--font-color-medium)

  ul
    list-style: none
    overflow-y: hidden
    display: flex
    flex-direction: column
    gap: 0.5em
    margin: 0 var(--sidenav-item-horizontal-spacing)

    li
      &:hover
        background: var(--focus-color)

      a
        text-decoration: none
            
      i
        color: var(--font-color-medium)

    &.ablog-cloud
      flex-direction: row
      flex-flow: wrap
      gap: 0.5rem

      li
        display: flex
        align-items: center


.ablog__prev-next
  font-size: 0.9em
  display: flex
  padding: 1rem 0

  >span
    display: flex
    max-width: 45%

    a
      display: flex
      align-items: center
      margin-left: auto
      gap: 1rem
      line-height: 1.5rem

  span
    &.ablog__spacer
      display: none

    &.ablog__next
      margin-left: auto
      text-align: right


.ablog__collection
  padding-left: 0

  .ablog-post

    ul>li
      list-style: none

    .ablog-archive
      display: flex
      flex-direction: row
      flex-wrap: wrap
      gap: 1rem
      list-style: none
      font-size: 0.75rem
      padding-left: 0

    .ablog-post-title
      margin-top: 0
      font-size: 1.85rem

      a
        font-weight: 500
        text-decoration: none

    .ablog-post-expand
      margin-bottom: 0.5rem


.ablog__catalog_header

  .section
    padding-bottom: 0
    padding-top: 0