html {
  /*****************************************************************************
  * Admonitions
  **/

  --stm-icon-admonition-default: var(--icon-bell);
  --stm-icon-admonition-note: var(--icon-pencil);
  --stm-icon-admonition-attention: var(--icon-horn);
  --stm-icon-admonition-caution: var(--icon-signmark);
  --stm-icon-admonition-warning: var(--icon-warning);
  --stm-icon-admonition-danger: var(--icon-spark);
  --stm-icon-admonition-error: var(--icon-failure);
  --stm-icon-admonition-hint: var(--icon-bulb);
  --stm-icon-admonition-tip: var(--icon-edit);
  --stm-icon-admonition-important: var(--icon-flame);
  --stm-icon-admonition-seealso: var(--icon-share);
  --stm-icon-admonition-todo: var(--icon-pencil);
}
