html {
  --header-horizontal-spacing: 15px;
  --footer-horizontal-spacing: 15px;
  --sidenav-item-horizontal-spacing: 10px;
  --sidenav-ablog-space-above: 10px;
  --sidenav-ablog-space-below: 20px;
}
