// Spacing for various elements on the page
//
// If the user wants to tweak things in a certain way, they are permitted to.
// They also have to deal with the consequences though!

@mixin spacing {
  --header-horizontal-spacing: 15px;
  --footer-horizontal-spacing: 15px;
  --sidenav-item-horizontal-spacing: 10px;
  --sidenav-ablog-space-above: 10px;
  --sidenav-ablog-space-below: 20px;
}
