<div class="nav-wrapper">
    <label class="sidebar-toggle primary-toggle" for="__primary">
        <i class="material-icons">menu</i>
    </label>
    <div class="headnav-items__start">
        <div class="headnav-item">
            <a class="stm-doc-logo" href="{{ pathto(root_doc) }}"><img src="{{ logo_url }}" alt="Logo" /></a>
        </div>
    </div>
    <div class="headnav-items__content">
        <div class="me-auto headnav-items__center">
            <div class="headnav-item">
                <ul>
                    {{ generate_header_nav_html(n_links_before_dropdown=theme_header_links_before_dropdown) }}
                </ul>
            </div>
        </div>
        <div class="headnav-items__end">
            <div class="headnav-item">
                <a id="theme-switch" href="#"><i class="material-icons">dark_mode</i></a>
            </div>
            <div class="headnav-item">
                <ul>
                    {% if theme_header_icons -%}
                    {% for icon_dict in theme_header_icons -%}
                    <li>
                        <a href="{{ icon_dict.url }}" target="_blank" aria-label="{{ icon_dict.name }}"
                            class="ext-link">
                            {% if icon_dict.class %}
                            <i class="{{ icon_dict.class }}"></i>
                            {% elif icon_dict.svg %}
                            <img src="{{ pathto(icon_dict.svg, 1) }}" style="transform: scale(0.8);">
                            {% elif icon_dict.material_icons %}
                            <i class="material-icons">{{ icon_dict.material_icons }}</i>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
