<div class="sidenav-drawer">
    <div class="sidenav-logo">
        {%- include "sidenav-brand.html" %}
    </div>
    <div class="sidenav-header-items hide-on-large-only">
        <div class="sidenav-header-items__center">
            <div class="headnav-item">
                <ul>
                    {{ head_nav_html[1] }}
                </ul>
            </div>
        </div>
        <div class="sidenav-header-items__end">
            <div class="headnav-item">
                <ul>
                    <li>
                        <a id="theme-switch--mobile" href="#"><i class="material-icons">dark_mode</i></a>
                    </li>
                    {% if theme_header_icons -%}
                    {% for icon_dict in theme_header_icons -%}
                    <li>
                        <a href="{{ icon_dict.url }}" target="_blank" aria-label="{{ icon_dict.name }}"
                            class="ext-link">
                            {% if icon_dict.class %}
                            <i class="{{ icon_dict.class }}"></i>
                            {% elif icon_dict.svg %}
                            <img src="{{ pathto(icon_dict.svg, 1) }}" style="transform: scale(0.8);">
                            {% elif icon_dict.material_icons %}
                            <i class="material-icons">{{ icon_dict.material_icons }}</i>
                            {% elif icon_dict.fontawesome %}
                            <i class="{{ icon_dict.fontawesome }}"></i>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="sidenav-menu">
        {%- for sidebar_section in sidebars %}
        {%- include sidebar_section %}
        {%- endfor %}
    </div>
</div>
