{% extends "base.html" %}

{%- set sidebar_nav_html = generate_toctree_html(
"sidebar",
show_nav_level=theme_show_nav_level|int,
maxdepth=theme_navigation_depth|int,
collapse=theme_collapse_navigation|tobool,
includehidden=True,
titles_only=True)
-%}


{% block htmlbody -%}
{{ super() }}

{% block mainbody -%}

<header>
    {% include "sections/navbar.html" %}
</header>

<div class="stm-main">
    <div class="main-wrapper">
        {% if theme_show_back_to_top %}
        {%- include "components/back-to-top.html" -%}
        {% endif %}

        <aside class="stm-sidenav {% if hide_sidenav %} hide {% else %} hide-on-small-only {% endif %} "
            id="nav-mobile">
            <div class="sidenav-viewport">
                {% block left_sidebar %}
                {%- include "sections/sidebar-primary.html" -%}
                {% endblock left_sidebar %}
            </div>
        </aside>
        <main class="stm-content">
            <div class="container">
                <div class="row">
                    <div class="stm-article section col s12 {% if not hide_tocnav %} m10 xl9 {% endif %}">
                        <article role="main" class="section">
                            {% block body %}{{ body }}{% endblock %}
                        </article>

                        <div class="stm-edit-update-meta">
                            {% include "components/last-updated.html" %}
                            {% if theme_use_edit_page_button %}
                            {% include "components/edit-this-page.html" %}
                            {% endif %}
                        </div>

                        <div class="stm-article-footer">
                            <div class="prev-next-area">
                                {% if theme_show_prev_next %}
                                {% include "components/prev-next.html" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if not hide_tocnav %}
                    {% set page_toc = generate_toc_html() %}
                    {%- if page_toc | length >= 1 %}
                    <div class="stm-toc col m2 xl3 {% if hide_toc %} hide {% else %} hide-on-small-only {% endif %}">
                        <div class="toc-wrapper toc-scroll">
                            {% if theme_toc_title %}
                            <div class="toc-title">
                                <span class="material-icons">list</span> {{ theme_toc_title }}
                            </div>
                            {% endif %}
                            {{ page_toc }}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if theme_footer_content %}
            <div class="stm-content-footer">
                {%- for footer_item in theme_footer_content %}
                {%- include footer_item %}
                {%- endfor %}
            </div>
            {% endif %}

        </main>
    </div>
</div>

{% block footer %}
{% if theme_footer %}
{% include "sections/footer.html" %}
{% endif %}
{% endblock %}

{%- endblock %}
{%- endblock %}