{% extends "base.html" %}

{% if theme_navbar_style == "navigation" %}
{%- set sidebar_nav_html = generate_toctree_html(
"sidebar",
show_nav_level=theme_show_nav_level|int,
maxdepth=theme_navigation_depth|int,
collapse=theme_collapse_navigation|tobool,
includehidden=True,
titles_only=True)
-%}
{% else %}
{%- set sidebar_nav_html = generate_toctree_html(
startdepth=0,
kind="sidebar",
maxdepth=4,
collapse=False,
includehidden=True,
titles_only=True,
show_nav_level=theme_show_nav_level|int)
-%}
{% endif %}


{% block htmlbody -%}
{{ super() }}


{% block mainbody -%}

<header>
    {% if theme_navbar_style is not none %}
    {% include "sections/navbar.html" %}
    {% endif %}
    {% include "sections/sidenav.html" %}
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="section col s12 m8 offset-m1 xl7 offset-xl1">
                <article role="main" class="section">
                    {% block body %}{{ body }}{% endblock %}
                </article>
                {% include "components/actions.html" %}
            </div>
            {% set page_toc = generate_toc_html() %}
            {%- if page_toc | length >= 1 %}
            {% include "sections/page-toc.html" %}
            {% endif %}
        </div>
    </div>
</main>
{% block footer %}
{% include "sections/footer.html" %}
{% endblock %}

{%- endblock %}
{%- endblock %}